

:root{
    --accent-color: #DA730D;
    --primary-text-color: #F2E7D3;
      --background-color:#1A0606;
    
}


/* .hairstyleSection{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.hairsection {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центруємо весь блок на сторінці */
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.text, .text2, .text3, .text4 {
    width: auto; 
    height: auto;
    flex: 1;
    padding-right: 10px;
}

.mainName2 {
    font-size: 15px;
    line-height: 1.4;
    display: block; 
}

.size2{
    width: 40px;
   font-size: 10px;
    color: #BFBBB2;
    line-height: 1.7;
    margin-right: 10px;
    /* margin-top: 7px; */
}

.price2{
   text-align: right;
    font-weight: 600;
    white-space: nowrap;
}

.fatprice{
    text-decoration: none;
    color: #BFBBB2;
    font-weight: 600;
}

.head3 {
    font-size: 24px; 
    line-height: 1.3;
    margin-bottom: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.liColorHair{
    
    width: 100%;
    padding: 0 15px;
}

.line{
    color: #d49708;
}

.secondText2 {
    font-size: 11px;
    line-height: 1.6; 
    margin-top: 5px;
    color: #BFBBB2;
}