:root{
    --accent-color: #DA730D;
    --primary-text-color: #F2E7D3;
      --background-color:#1A0606;
    
}



  

.menHead{
    
     font-size: 35px;
     text-align:center;
     letter-spacing: 5px;
     margin-bottom: 60px;
     
}

.manList{
    list-style: none;
    line-height: 40px;
    font-size: 19px;
}

.manSectionTable{
display: flex; 
text-align:left;
justify-content: center;
margin-top: 20px;
margin-bottom: 40px;
margin-right: 10px;
margin-left: 10px;
/* width: 290px; */
}

.manUl{
  
    margin-right: 40px;
    /* padding: 10px; */
}
.manUl2{
    margin-left: 40px;
   
    /* padding: 10px; */
}

.priceSpan{
    font-weight: 700;
}

.sircle{
    margin-left:200px;
    margin-top: -100px;
}

.twoSircle{
    margin-left: -50px;
    margin-bottom: -70px;
    margin-top: 100px;
    width: 200px;
    height: 200px;
}