.liColorHair{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.hairsection{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.head2{
     font-size: 25px;
     /* text-align:center; */
     justify-content: center;
     letter-spacing: 2px;
     margin-bottom: 40px;
    margin-top: 20px;
      
}

.text{
    width: 190px;
    height: 75px;
}

.mainName{
       font-size: 15px;
}

.secondText{
     font-size: 10px;
     margin-top: 5px;
     color:  #BFBBB2;
}

.size{
   
    font-size: 10px;
    color: #BFBBB2;
    line-height: 1.7;
    margin-right: 10px;
}

.price{
    font-size: 15px;
}

.number{
    /* font-size: 16px; */
     /* font-family: "lato", sans-serif; */
   font-weight: 600;
}

.sircle{
    margin-left:270px;
    margin-top: -120px;
}
.twoSircle{
    height: 160px;
    width: 180px;
margin-bottom: -100px;
    margin-left: -200px;
}