:root{
    --accent-color: #DA730D;
    --primary-text-color: #F2E7D3;
      --background-color:#1A0606;
    
}

.liColorHair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* На всю доступну ширину */
    padding: 12px 0;
    border-bottom: 0.5px solid rgba(218, 115, 13, 0.3); /* Тонка лінія */
}

.hairsection{
     display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px
}
/* .section2{
     display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh; 
    
     box-sizing: border-box; 
    position: relative; 
} */


.head2{
     font-size: 25px;
     /* text-align:center; */
     justify-content: center;
     letter-spacing: 2px;
     margin-bottom: 40px;
    margin-top: 20px;
      
}

.text{
    width: auto; 
    height: auto;
    flex: 1;
    padding-right: 10px;
}

.mainName{
    font-size: 15px;
    line-height: 1.4; 
    display: block; 
}

.secondText{
    font-size: 11px; 
    line-height: 1.6; 
    margin-top: 5px;
    color: #BFBBB2;
}

.size{
   
    font-size: 10px;
    color: #BFBBB2;
    line-height: 1.7;
    margin-right: 10px;
}

.price {
    text-align: right;
    font-weight: 600;
    color: var(--accent-color); 
}

/* .number{
    font-size: 16px;
    font-family: "lato", sans-serif; 
   font-weight: 600;
} */

.sircle {
    position: absolute;
    right: -20px;
    top: 10%;
    z-index: -1;
}
.twoSircle{
    height: 160px;
    width: 180px;
margin-bottom: -100px;
    margin-left: -200px;
}