.liColorHair{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.hairsection{
     display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}


.head2{
     font-size: 30px;
     text-align:center;
     letter-spacing: 2px;
     /* margin-bottom: 40px; */
      
}